In [1]:
import pandas as pd 
import numpy as np 
from sklearn.feature_extraction.text import CountVectorizer 
from sklearn.feature_extraction.text import TfidfVectorizer

In [2]:
# reading data from text file 
with open('SMSSpamCollection.txt','r') as file: 
    data = file.read()

In [3]:
temp = data.split('\n')

In [4]:

print("No. of emails : ",len(temp) )

No. of emails :  5575

In [5]:
x = [] 
y = [] 
for email_with_label in temp: 
    temp_emails = email_with_label.split('\t') 
    if len(temp_emails) == 2 : 
        x.append(temp_emails[1])
        y.append(temp_emails[0])

In [6]:
len(x),len(y)

(5574, 5574)

In [7]:
dt = {'email_message':x,"label":y}
email_data = pd.DataFrame(dt)
email_data.head()

                                       email_message label
0  Go until jurong point, crazy.. Available only ...   ham
1                      Ok lar... Joking wif u oni...   ham
2  Free entry in 2 a wkly comp to win FA Cup fina...  spam
3  U dun say so early hor... U c already then say...   ham
4  Nah I don't think he goes to usf, he lives aro...   ham

In [8]:
email_data['label'].value_counts()

label
ham     4827
spam     747
Name: count, dtype: int64

In [9]:
spam = email_data[email_data['label']=='spam']
ham = email_data[email_data['label']=='ham']

In [10]:
spam.shape

(747, 2)

In [11]:
ham.shape

(4827, 2)

In [12]:
ham = ham.sample(1000)

In [13]:
spam.shape , ham.shape

((747, 2), (1000, 2))

In [14]:
final_df=pd.concat([ham,spam],axis=0)

In [15]:
final_df.head()

                                          email_message label
1232  have got * few things to do. may be in * pub l...   ham
274               Usf I guess, might as well take 1 car   ham
3822  You are right though. I can't give you the spa...   ham
5557  Yeh. Indians was nice. Tho it did kane me off ...   ham
2617          I went to ur hon lab but no one is there.   ham

In [16]:
final_df.shape

(1747, 2)

In [17]:
import re

In [18]:
final_df.reset_index(drop=True,inplace=True)

In [19]:
final_df['email_message'][25]
# a-z , A-z

"Solve d Case : A Man Was Found Murdered On  &lt;DECIMAL&gt; . &lt;#&gt;  AfterNoon. 1,His wife called Police. 2,Police questioned everyone. 3,Wife: Sir,I was sleeping, when the murder took place. 4.Cook: I was cooking. 5.Gardener: I was picking vegetables. 6.House-Maid: I went 2 d post office. 7.Children: We went 2 play. 8.Neighbour: We went 2 a marriage. Police arrested d murderer Immediately. Who's It? Reply With Reason, If U r Brilliant."

In [20]:
for i in range(len(final_df)): 
    final_df['email_message'][i] = re.sub('[^a-zA-Z ]','',final_df['email_message'][i]).lower()

C:\Users\tumha\AppData\Local\Temp\ipykernel_10056\622084000.py:2: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  final_df['email_message'][i] = re.sub('[^a-zA-Z ]','',final_df['email_message'][i]).lower()

In [21]:
final_df.head()

                                       email_message label
0    have got  few things to do may be in  pub later   ham
1                usf i guess might as well take  car   ham
2  you are right though i cant give you the space...   ham
3  yeh indians was nice tho it did kane me off a ...   ham
4           i went to ur hon lab but no one is there   ham

In [22]:
labels = list(final_df['label'])
temp_labels = [1 if item =="spam" else 0 for item in labels]
final_df['label'] = temp_labels

In [23]:
final_df.head()

                                       email_message  label
0    have got  few things to do may be in  pub later      0
1                usf i guess might as well take  car      0
2  you are right though i cant give you the space...      0
3  yeh indians was nice tho it did kane me off a ...      0
4           i went to ur hon lab but no one is there      0

In [24]:

x = final_df['email_message']
y = final_df['label']

In [25]:
x = x.values

In [26]:
bow_obj = CountVectorizer(max_features=1500,stop_words='english')

In [27]:
X =  bow_obj.fit_transform(x)

In [28]:
x

array(['have got  few things to do may be in  pub later',
       'usf i guess might as well take  car',
       'you are right though i cant give you the space you want and need this is really starting to become an issue i was going to suggest setting a definite move outif im still there after greece but maybe you are ready and should do it now',
       ...,
       'had your contract mobile  mnths latest motorola nokia etc all free double mins  text on orange tariffs text yes for callback no to remove from records',
       'reminder from o to get  pounds free call credit and details of great offers pls reply  this text with your valid name house no and postcode',
       'this is the nd time we have tried  contact u u have won the  pound prize  claim is easy call  now only p per minute btnationalrate'],
      dtype=object)

In [29]:
X.toarray()

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]])

In [30]:
#practise

In [31]:
import numpy as np

In [32]:

arr = np.random.randint(1,999,250)
arr 
#even = 1 , odd = 0

array([130, 668, 678, 487, 130, 399, 620,  12,  94, 974, 719, 183, 701,
       693, 616, 166, 767,  45, 525, 245, 439, 793, 854, 735, 171, 305,
       763, 755, 760,  24, 861, 679, 883, 245, 387, 821,   4, 575, 589,
       993,  33, 850, 893, 771, 403, 297, 622, 550, 699, 739, 815, 993,
       355,  54, 670, 774,  52, 429, 641,   9, 319, 500, 847, 147, 535,
       492, 481, 915,  35, 207, 341, 392, 956, 935, 275, 791, 107, 734,
        64, 222, 875, 381, 589, 210,  13, 384, 151, 287, 740, 828, 715,
       639, 726, 577,  30,  22, 218, 257, 482, 417, 783, 392, 311, 131,
        41,  79, 204, 562, 900, 681, 623, 314, 957,  21, 258, 654, 281,
       942,  29, 530,  34, 590, 761, 833,  54, 901,  53, 833, 757, 961,
       861, 475, 396, 223, 814, 629, 979, 990, 345, 719, 482, 530, 435,
       900, 801, 240, 689,  49, 795, 126, 396, 201, 310, 635, 704, 864,
       502, 895, 216, 645, 641,  78, 364, 710, 819, 509, 204,  53, 503,
       201, 205, 405,   9, 460, 227, 819, 436, 353, 863, 783, 555, 582,
       170, 708, 768, 399, 292, 546, 393, 551,  72, 689, 766, 448, 995,
       731, 389, 854, 347, 681, 213,  82, 595, 334, 437,  55, 951, 516,
        65, 862, 118, 346, 168, 784, 155, 829, 348, 300, 881, 249, 288,
       970, 817, 668, 301, 706, 345, 234, 474, 762, 223,  23, 521, 594,
       793, 410, 521, 540, 545, 884, 515, 678,  94, 332, 920, 332,  21,
       356, 282, 989], dtype=int32)

In [33]:
even  == 1 , odd ==  0

NameError: name 'even' is not defined